body{
    background-color: #000000;
	color: lightgray;
	font-size: 28px;
	font-family: 'Inconsolata';
    font-weight: 700;
    width: 100%;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}
header {
    width: 100%;
    h1{
        text-align: center;
    }
}
section{
    position: absolute;
    width: 100%;
     #board{
        margin: 20px 0px;
        text-align: center;
        font-size: 48px;
    }
     #gallows{
        text-align: center;
        min-height: 280px;
        position: relative;
        left:50%;
        transform: translateX(-50%);
    }
     #alphabet{
        text-align: center;
        min-height: 200px;
        position: relative;
        left:50%;
        transform: translateX(-50%);
        width: 600px;
    }
    .letter
    {
        width: 35px;
        height: 30px;
        text-align:center;
        padding: 5px;
        margin: 5px;
        border: 3px solid gray;
        float: left;
        cursor: pointer;
        border-radius: 15px;
        &:hover{
            background-color: #222222;
            color: white;
            border: 3px solid white;
        }
    }
    .reset
    {
        color:green;
        cursor: pointer;
        font-size: 48px;
        &:hover
        {
            color:white;
        }
    }

    .info{
        text-align: center;
        h3{
            margin: 15px 0px;
        }
        .btn-restart{
            padding: 5px 10px;
            text-align: center;
            border-radius: 5px;
            font-weight: 600;
            background: cyan;
            border:none;
            font-size: 1.3rem;
            color: #222222;
        }
        .btn-hidden{
            display: none;
        }
        .btn-display{
            display: inline-block;
        }
    }
}