body {
  background-color: #000000;
  color: lightgray;
  font-size: 28px;
  font-family: 'Inconsolata';
  font-weight: 700;
  width: 100%;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
}

header {
  width: 100%;
}

header h1 {
  text-align: center;
}

section {
  position: absolute;
  width: 100%;
}

section #board {
  margin: 20px 0px;
  text-align: center;
  font-size: 48px;
}

section #gallows {
  text-align: center;
  min-height: 280px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section #alphabet {
  text-align: center;
  min-height: 200px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 600px;
}

section .letter {
  width: 35px;
  height: 30px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  border: 3px solid gray;
  float: left;
  cursor: pointer;
  border-radius: 15px;
}

section .letter:hover {
  background-color: #222222;
  color: white;
  border: 3px solid white;
}

section .reset {
  color: green;
  cursor: pointer;
  font-size: 48px;
}

section .reset:hover {
  color: white;
}

section .info {
  text-align: center;
}

section .info h3 {
  margin: 15px 0px;
}

section .info .btn-restart {
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
  font-weight: 600;
  background: cyan;
  border: none;
  font-size: 1.3rem;
  color: #222222;
}

section .info .btn-hidden {
  display: none;
}

section .info .btn-display {
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */